.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: $header-height;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.site-header .wrapper {
  max-width: 2400px !important;
  margin: 0 auto !important;
  padding: 15px 80px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}