.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: $header-height;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.site-header .wrapper {
  max-width: 2400px !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 15px 80px;
}

.site-header .reading-progress {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: var(--color-teal);
  z-index: 1001;
}